<include href="views/header.html"></include>
<body>
    <div class="container">
        <h1>Midterm Survey</h1>

        <form method="post" action="summary">

            <div class="form-group">
                <label>
                    Name
                    <input type="text" name="name" id="name">
                </label>
            </div>

            <p>Check all that apply: <br></p>

            <div class="form-group">

                <repeat group="{{ @options }}" value="{{ @option }}">
                    <label><input type="checkbox"
                                  name="options[]"
                                  value="{{ @option }}"> {{ ucfirst(@option) }}</label><br>
                </repeat>
            </div>

            <button>Submit</button>
        </form>
    </div>
</body>
</html>